body {
	width: 700px;
	margin: auto;
	border-left: 10px solid black;
	border-right: 10px solid black;
	font-family: "Noto Serif", Georgia, Times, serif;
	margin-bottom: 100px;
}

p {
	margin-top: 20px;
	text-indent: 20px;
}

h1 {
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

img {
	width: 100%;
}

#input-plot {
	display: inline-block;
	width: 50px;
}